/* .pokecard {
  background: #fff;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  position: relative;
}

.pokecard h2 {
  margin-top: 1rem;
  font-size: 1rem;
}

.pokecard h4 {
  color: #617d98;
  font-size: 0.75rem;
  margin-top: 0.5rem;
}

.pokecard img {
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: contain;
}

.pokecard p {
  margin: 1rem 0 0.5rem;
} */
